{{#if deprecated}}
    <div class="well well-small">
        <p>
        {{#if deprecationMessage}}
            <strong>Deprecated:</strong> {{deprecationMessage}}
        {{else}}
            This element is deprecated.
        {{/if}}
        </p>
    </div>
{{/if}}

{{#if classDescription}}
<div>
    {{{classDescription}}}
</div>
{{/if}}

{{#is_constructor}}
    <div class="constructor">
        <h2>Constructor</h2>
        {{>method}}
    </div>
{{/is_constructor}}

{{#if classDescription}}
<demo-tabs selectedIndex="0" class="no-permalink">
  {{#if attrs}}
    <demo-tab heading="Attributes">
      <div id="{{name}}-attrs">
        {{#attrs}}
          {{>attrs}}
        {{/attrs}}
      </div>
    </demo-tab>
  {{/if}}
  {{#if properties}}
    <demo-tab heading="Properties">
      <div id="{{name}}-properties">
        {{#properties}}
          {{>props}}
        {{/properties}}
      </div>
    </demo-tab>
  {{/if}}
  {{#if methods}}
    <demo-tab heading="Methods">
      <div id="{{name}}-methods">
        {{#methods}}
          {{>method}}
        {{/methods}}
      </div>
    </demo-tab>
  {{/if}}
  {{#if events}}
    <demo-tab heading="Events">
      <div id="{{name}}-events">
        {{#events}}
          {{>events}}
        {{/events}}
      </div>
    </demo-tab>
  {{/if}}
</demo-tabs>

{{else}}
  <div class="nodocs"></div>
{{/if}}
